/* D3 and SVG styling options */

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis text {
  font: 15px sans-serif;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.circle {
  fill: rgba(250,250,250,0.5);
  stroke-width: 1.5px;
}

.errorbars {
}

.labels {
    font: 14px courier;
}

.loading {
    font: 15px sans-serif;
    color: steelblue;
}

.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.dot {
  fill: rgba(250,250,250,0.01);
  stroke: steelblue;
  stroke-width: 1.5px;
}

.compass {
    fill: steelblue;
    stroke: steelblue;
    stroke-width: 2px;
}

.compass_txt {
    font: 15px sans-serif;
    fill: steelblue;
}