{% extends "base.html" %}

{% block active3 %} class="active" {% endblock %}

{% block content %}
<div class="container">
  <div class="row-fluid">
	<div class="span12">
      <div class="hero-unit">
	  <h3>Photometric Estimates</h3>
	   <p>This site was designed to produce accurate estimates of the 
		  photometric zeropoint between a set of observations (instrumental magnitudes)
		  and the standard photometric systems of <a target="_blank" href="http://www.sdss.org/">SDSS</a>, 
	 	  <a target="_blank" href="http://tdc-www.harvard.edu/catalogs/ub1.html">USNOB1</a>, and 
 	      <a target="_blank" href="http://www.ipac.caltech.edu/2mass/overview/about2mass.html">2-MASS</a>.
		  To do this, I pull observations from the SDSS catalog 
		  (if within <a target="_blank" href="http://www.sdss.org/dr7/coverage/">the SDSS footprint</a>)
		  or from the all-sky USNO-B1 catalog, cross-match to sources in the all-sky 2-MASS catalog,
		  and fit a model spectra from the 
		  <a target="_blank" href="http://www.stsci.edu/hst/observatory/cdbs/pickles_atlas.html">Pickles Stellar Atlas</a>
		  to each source. This produces an estimate for the spectrum for each individual source,
		  from which I obtain synthetic photometry for all requested bands. These photometric estimates
		  can safely be used to calculate a systematic offset between observed magnitudes (e.g. the instrumental
		  magnitudes generated through photometry on images) and the true magnitudes for a set of observations;
		  i.e. the photometric zeropoint.  Note: <i>u, g, r, i, z</i> &amp; <i>y</i> photometry are reported as AB magnitudes,
		  while <i>J, H, K, B</i> &amp; <i>V</i> are Vega magnitudes.
	   </p>

	  <hr>	
	  <h3>Characteristic Errors</h3>
	   <p>Though the estimates for individual sources can, at worst, be off by as much
		  as .5 mag, I have worked to get the mean offset for any ensemble of
		  sources as close to zero as possible. This works much better for central bands
		  (<i>i, z, y</i>) than the bluer bands. Within our group, we use this system to
		  estimate <i>y</i>-band zeropoints, which has characteristic errors very similar to those
		  of <i>z</i> listed below - please be aware of the errors and limitations if you
		  use this for blue bands out of the SDSS footprint!<br>
		  When using SDSS (e.g. to predict y-band within the SDSS footprint), 
		  characteristic errors of individual sources are of order <b>.10 mag</b>, and
		  errors of the mean offset for all sources in field are of order <b>.04 mag</b>.
		  <div class="row-fluid">
			<div class="span10 offset1 pagination-centered">
			  <img src="static/img/sdss_errs.png" width=550 height=550 alt="SDSS error histogram">
			  <p small>Histograms of the differences between predicted and true values for SDSS
				<i>z</i> magnitudes for sources in 5 arbitrary SDSS fields, as estimated by the other
				SDSS observations and 2-MASS.  Each histogram displays sources within a .5&deg; box
				around the listed RA and DEC.</p>
			</div><!--/span-->
		  </div><!--/row-->
		<br>
		  When using USNO-B1 (e.g. to predict SDSS magnitudes outside the SDSS footprint),
		  characteristic errors are different for each band:
		<div class="row-fluid">
			<div class="span6 offset3">
		  <table class="table table-condensed">
			<tr><td><b>Band</b></td>
				<td><b>Individual Errors (mag)</b></td>
				<td><b>Error of the Mean (mag)</b></td></tr>
			<tr><td>z</td>
				<td>.10</td>
				<td>.04</td></tr>
			<tr><td>i</td>
				<td>.16</td>
				<td>.08</td></tr>
			<tr><td>r</td>
				<td>.17</td>
				<td>.10</td></tr>
			<tr><td>g</td>
				<td>.23</td>
				<td>.14</td></tr>
			<tr><td>u</td>
				<td>.41</td>
				<td>.24</td></tr>
	      </table>
	     </div><!--/span-->
		</div><!--/row-->
		  <div class="row-fluid">
			<div class="span10 offset1 pagination-centered">
			  <img src="static/img/usnob_errs_z.png" width=400 height=400 alt="USNO-B1 error histogram">
			  <img src="static/img/usnob_errs_g.png" width=400 height=400 alt="USNO-B1 error histogram">
			  <p>Histograms of the differences between predicted and true values for SDSS
				<i>z</i> and <i>g</i> magnitudes for sources in 5 arbitrary SDSS fields, as estimated by
				the USNO-B1 and	2-MASS observations.  Each histogram displays sources within a .5&deg; box
				around the listed RA and DEC.</p>
			</div><!--/span-->
		  </div><!--/row-->

		<hr>
		<h3>API</h3>
		<p>
		  This site also offers an API as a webservice, so you can run queries from the commandline
		  or within a script.  Requests are sent as a URL over HTTP, and the results can be obtained
		  in either JSON or a simple ASCII table format.  The same three modes of operation are available
		  through the API as through the main website, and the website interface can be used to examine
		  the results of any API request made within the last day.  Any posted files must be simple ascii 
		  tables, with the first two columns RA and DEC (decimal degrees), and a third column of instrumental
		  magnitudes if using mode 3.
		</p>
		<div class="row-fluid">
		  <div class="span10 offset1">
			 <h3>1</h3>
			 <i>Produce a catalog of a specific field.</i><br>
			  <strong>Required:</strong>
			  <ul>
				<li><b>mode:</b> 1</li>
				<li><b>ra:</b> RA in decimal degrees</li>
				<li><b>dec:</b> DEC in decimal degrees</li>
				<li><b>size:</b> Field Size in arcseconds (max: 7200" or 2&deg;)</li>
			  </ul>
		  <strong>Optional:</strong>
		  <ul>
			<li><b>response:</b> ascii (default) or json</li>
		  </ul>
		  <strong>Example:</strong><br>
			<code>curl 'http://127.0.0.1:5000/api?mode=1&amp;ra=200.&amp;dec=20.&amp;size=450.&amp;type=ascii'</code>
		  </div><!--/span-->
		</div><!--/row-->
		
		<div class="row-fluid">
		  <div class="span10 offset1">
			<h3>2</h3>
			<i>Produce a catalog for a set of stars.</i><br>
			  <strong>Required:</strong>
			  <ul>
				<li><b>mode:</b> 2</li>
				<li><b>posted file</b></li>
			  </ul>
			  <strong>Optional:</strong>
			  <ul>
				<li><b>response:</b> ascii (default) or json</li>
			  </ul>
			  <strong>Example:</strong><br>
				<code>curl -F source_file=@YOUR_FILE 'http://127.0.0.1:5000/api?mode=2&amp;type=ascii'</code>
		  </div> <!--/span-->
		</div><!--/row-->
		
		<div class="row-fluid">
		  <div class="span10 offset1">
			<h3>3</h3>
			<i>Produce a catalog and a photometric zeropoint for a set of observations.</i><br>
			  <strong>Required:</strong>
			  <ul>
				<li><b>mode:</b> 3</li>
				<li><b>band:</b> Passband of observations</li>
				<li><b>posted file</b></li>
			  </ul>
			  <strong>Optional:</strong>
			  <ul>
				<li><b>response:</b> ascii (default) or json</li>
			  </ul>
			  <strong>Example:</strong><br>
				<code>curl -F source_file=@YOUR_FILE 'http://127.0.0.1:5000/api?mode=3&amp;band=y&amp;type=ascii'</code>
		  </div> <!--/span-->
		</div><!--/row-->
		<div class="row-fluid">
			<h3>Examining API results:</h3>
			<p>Each API response includes a string of numbers called the "Query ID", which looks something like
				 "1360698575_1157" - this allows you to examine the results of any API call through the full web interface.
				To inspect the catalog, pass your Query ID as a
			   URL query string to the Results page with the keyword 'sid'.  Note: only works for queries made within 
			   the last day or so.
			</p>
			<strong>Example:</strong><br>
			  <code>http://127.0.0.1:5000/results?sid=YOUR_QUERY_ID</code>
		</div><!--/row-->
		<div class="row-fluid">
		<hr>
		<h3>Open-Source Development</h3>
		<p>
		  This project uses a bunch of awesome open-source software and web development tools:
		  <ul>
			<li><a target="_blank" href="http://www.python.org/">Python</a>, <a target="_blank" href="http://www.numpy.org/">NumPy</a>, <a target="_blank" href="http://www.scipy.org/">SciPy</a></li>
			<li><a target="_blank" href="https://github.com/">GitHub</a></li>
			<li><a target="_blank" href="http://stsdas.stsci.edu/pysynphot/">PySynphot</a></li>
			<li><a target="_blank" href="http://flask.pocoo.org/">Flask</a></li>
			<li><a target="_blank" href="http://www.mongodb.org/">mongoDB</a></li>
			<li><a target="_blank" href="http://d3js.org/">D3</a></li>
			<li><a target="_blank" href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a></li>
		  </ul>
	      
		  If you would like a copy of the codebase, if you have any questions about it or the website, or if you
		  have any comments or suggestions, simply shoot me an email - I'd like to hear from you! <br>
		  <i>ishivvers (at) astro (dot) berkeley (dot) edu</i>
		</p>
		<hr>
		<h3>Affiliations</h3>
		<div class="span8 offset2 pagination-centered">
		<a target="_blank" href="http://astro.berkeley.edu/">
		<img src="static/img/berkeley_seal_T.gif" width=150 height=150 alt="UC Berkeley"></a>
		<a target="_blank" href="http://cftd.info/">
		<img src="static/img/cftdi_bg.png" width=250 height=160 alt="CfTDI"></a>
		<a target="_blank" href="http://www.nsf.gov/">
		<img src="static/img/nsf_logo.gif" width=160 height=160 alt="NSF"></a>
		<p><br><em>Codebase and site developed by <a target="_blank" href="http://astro.berkeley.edu/~ishivvers/">Isaac Shivvers</a>, UC Berkeley</em></p>
		</div><!--/span-->
		</div><!--/row-->
	  </div><!--/hero-->
  	</div><!--/span-->
  </div><!--/row-->
</div><!--/container-->
{% endblock %}
