{% extends "results_base.html" %}

{% block content2 %}
<div class="row-fluid">
  <div class="span5" id="feedback1">
    <h2>Magnitudes</h2>
		<table class="table table-condensed">
			<tr><td><b>Band</b></td>
				<td><b>Mag</b></td>
				<td><b>&sigma;</b></td>
				<td><b>Modeled?</b></td></tr>
			<tr id='tr_u'><td><b>u</b></td>
				<td>-</td><td>-</td><td>-</td></tr>
			<tr id='tr_g'><td><b>g</b></td>
				<td>-</td><td>-</td><td>-</td></tr>
			<tr id='tr_r'><td><b>r</b></td>
				<td>-</td><td>-</td><td>-</td></tr>
			<tr id='tr_i'><td><b>i</b></td>
				<td>-</td><td>-</td><td>-</td></tr>
			<tr id='tr_z'><td><b>z</b></td>
				<td>-</td><td>-</td><td>-</td></tr>
			<tr id='tr_y'><td><b>y</b></td>
				<td>-</td><td>-</td><td>-</td></tr>
			<tr id='tr_B'><td><b>B</b></td>
				<td>-</td><td>-</td><td>-</td></tr>
			<tr id='tr_R'><td><b>R</b></td>
				<td>-</td><td>-</td><td>-</td></tr>
			<tr id='tr_J'><td><b>J</b></td>
				<td>-</td><td>-</td><td>-</td></tr>
			<tr id='tr_H'><td><b>H</b></td>
				<td>-</td><td>-</td><td>-</td></tr>
			<tr id='tr_K'><td><b>K</b></td>
				<td>-</td><td>-</td><td>-</td></tr>
		</table>
  </div><!--/span-->
  <div class="span7">
    <h2>{{band}} Zeropoint: {{zp}} <sup>&plusmn;{{mad}}</sup></h2>
        <div id="histogram">
		  <!-- draw the histogram here -->
		</div>
		<p>
			Click below to download a full computer-readable (space-separated) ASCII catalog,
			including all magnitudes and errors, for these sources.
		</p>
		<form method="get" action="{{ url_for('serve_full_catalog') }}">
		<input type="submit" class="btn btn-primary btn-small" value="Download"/>
		</form>
  </div><!--/span-->
</div><!--/row-->
{% endblock %}


{% block more_javascript %}
//// THE HISTOGRAM ////
// A formatter for counts.
var formatCount = d3.format(",.0f");

var h_margin = {top: 10, right: 30, bottom: 30, left: 30},
    h_width = 400 - h_margin.left - h_margin.right,
    h_height = 250 - h_margin.top - h_margin.bottom;

// define the axes
var h_xScale = d3.scale.linear()
    .range([0, h_width]);
var h_yScale = d3.scale.linear()
    .range([h_height, 0]);

// axis generator
var h_xAxis = d3.svg.axis()
    .scale(h_xScale)
	.ticks(5)
    .orient("bottom");

// create the main image
var h_svg = d3.select("#histogram").append("svg")
    .attr("width", h_width + h_margin.left + h_margin.right)
    .attr("height", h_height + h_margin.top + h_margin.bottom)
  .append("g")
    .attr("transform", "translate(" + h_margin.left + "," + h_margin.top + ")");

h_svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + h_height + ")");

// get the data and put it up
d3.json( "{{ url_for('serve_zeropoints') }}", function(objects) {
	// make the histogram function
	var values = [];
	for (var i=0; i<objects.length; i++) {values.push(objects[i].zp);};
	var data = d3.layout.histogram()
		.bins(10)
	    (values);
	
	// update scales/axes
	h_yScale.domain([0, d3.max(data, function(d) { return d.y; })])
	h_xScale.domain([d3.min(data, function(d) { return d.x; }), d3.max(data, function(d) { return d.x+d.dx; })])
	h_svg.select("g.x.axis").call(h_xAxis);
	
	// actually put in the plot
	var bar = h_svg.selectAll(".bar")
	    .data(data)
	  .enter().append("g")
	    .attr("class", "bar")
	    .attr("transform", function(d) { return "translate(" + h_xScale(d.x) + "," + h_yScale(d.y) + ")"; });

	bar.append("rect")
	    .attr("x", 1)
	    .attr("width", h_xScale(data[1].x)-h_xScale(data[0].x) -1)
	    .attr("height", function(d) { return h_height - h_yScale(d.y); });

	// put in labels for counts
	bar.append("text")
	    .attr("dy", ".75em")
	    .attr("y", 6)
	    .attr("x", (h_xScale(data[1].x)-h_xScale(data[0].x)) /2)
	    .attr("text-anchor", "middle")
	    .text(function(d) { return formatCount(d.y); });
});
{% endblock %}