{% extends "base.html" %}

{% block active1 %} class="active" {% endblock %}

{% block content %}
<div class="container">
  <div class="row-fluid">
	<div class="span12">
      <div class="hero-unit">
		<h3>PhotoZPE: an All-Sky Photometric Zeropoint Estimation Engine.</h3>
		<p> This site uses all-sky catalogs and synthetic photometry 
			to produce photometry of stars anywhere on the sky in a set
			of the most commonly-used passbands. We use cataloged observations if they exist,
			and provide modeled estimates if they don't. <br>
			The goal: to provide a robust and simple way to estimate the photometric 
			zeropoint of an astronomical image for any band in any part of the sky.<br>
			Please read the <a href="{{ url_for('show_info') }}">info page</a> for
			a complete description, a discussion of errors, and a few examples. <br><br>
		
			Contact me with any questions!<br>
			-<a target="_blank" href="http://astro.berkeley.edu/~ishivvers/">Isaac Shivvers</a> <br>
			 <i>ishivvers (at) astro (dot) berkeley (dot) edu</i>
			</p><br>
			
			{% if feedback %}
			<div class="row-fluid">
		      <div class="span6 offset3">
			    <h3 style="color:#DF0101"> {{ feedback }} </h3>
			  </div><!--/span-->
			</div><!--/row-->
			{% endif %}
			
			{% if not method %}
			{# only show this request box if we haven't already put in a request below #}
			<div class="row-fluid">
			  <div class="span6 offset3">
				<strong>How to use PhotoZPE:</strong>
				<p>Enter RA and Dec (decimal degrees) and field size (arcseconds)
					Maximum field size is 1&deg; (3600") per request, and
					large requests may take up to a minute to process.</p>
				<form class="form-inline" method="POST">
				  <input type="text" name="RA" class="input-small" placeholder="RA (&deg;)">
				  <input type="text" name="DEC" class="input-small" placeholder="DEC (&deg;)">
				  <input type="text" name="FS" class="input-small" placeholder="Field Size (&quot;)">
				  <label class="checkbox">
			        <input type="checkbox" checked="checked" name="allow_usnob"> Include USNOB-1
			      </label>
				  <input type="hidden" name="method" value="1">
				  <br><input type="submit" class="btn btn-primary" value="Submit" onclick="mark_disabled();"/>
				</form>
			  </div><!--/span-->
			</div><!--/row-->
			{% elif method %}
			{# ask for confirmation if a file was uploaded #}
			<div class="row-fluid">
		      <div class="span6 offset3">
				<hr>
				  <p>Please verify that the file uploaded correctly and click Continue.<br></p>
				  <table class="table table-condensed">
				    <tr><td><b>RA</b></td>
					<td><b>DEC</b></td>
					{% if method==3 %}
					  <td><b>{{band}} Mag</b></td>
					{% endif %}
					</tr>
					{% for row in data %}
					  <tr><td>{{ row[0] }}</td>
					  <td>{{ row[1] }}</td>
					  {% if method==3 %}
					    <td>{{ row[2] }}</td>
					  {% endif %}
					  </tr>
					{% endfor %}
			      </table>
				  <a href="{{ url_for('show_results') }}" class="btn btn-primary" onclick="mark_disabled();">Continue</a>
				</div><!--/span-->
			  </div><!--/row-->
			  {% endif %}

	    </div><!--/hero-->
  	  </div><!--/span-->
	</div><!--/row-->
	<div class="row-fluid">
		<div class="span4">
			<h3>Other use cases:</h3>
			<p>This site can also produce matched catalogs and zeropoints of uploaded star lists - see
				submission forms to the right.  These both require space-separated or tab-separated
				ASCII files with no blank lines (# for comments), with all coordinates in 
				decimal degrees. Designed for stars grouped together in a field and limited to fields
				spanning 1&deg; (3600") or less.
				<br><br>
			   There is also an API, for automated queries using a program like <code>curl</code> or <code>wget</code>.
			    See <a href="{{ url_for('show_info') }}#api" >here</a> for more information.
		</div><!--/span-->
		<div class="span4">
			<h3>Catalog Matching</h3>
			<p>Upload a star list with RA and Dec (decimal degrees) as the first two columns.</p>
			<form action="upload" method="POST" enctype="multipart/form-data">
			<div class="fileupload fileupload-new" data-provides="fileupload">
			  <span class="btn btn-file"><span class="fileupload-new">Select file</span>
			  <span class="fileupload-exists">Change</span><input type="file" id="upload_file" name="source_file"/></span>
			  <span class="fileupload-preview"></span>
			  <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
			</div>
			<label class="checkbox">
		        <input type="checkbox" checked="checked" name="allow_usnob"> Include USNOB-1
		    </label>
			<input type="hidden" name="method" value="2">
			<input type="submit" class="btn btn-primary" value="Submit" onclick="mark_disabled();"/>
			</form>
		</div><!--/span-->
		<div class="span4">
			<h3>Catalog Matching + <br>Zeropoint Estimate</h3>
			<p>Upload a star list with RA and Dec (decimal degrees) as the first two columns,
				instrumental magnitudes as the third, and select the passband observed.</p>
			<form action="upload" method="POST" enctype="multipart/form-data">
	    	  <div class="fileupload fileupload-new" data-provides="fileupload">
			    <span class="btn btn-file"><span class="fileupload-new">Select file</span>
			    <span class="fileupload-exists">Change</span><input type="file" id="upload_file" name="source_file"/></span>
			    <span class="fileupload-preview"></span>
			    <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
			  </div>
			<select class="input-mini" name="band">
			  <option value="u">u</option>
			  <option value="g">g</option>
			  <option value="r">r</option>
			  <option value="i">i</option>
			  <option value="z">z</option>
			  <option value="y">y</option>
		  	  <option value="B">B</option>
		  	  <option value="V">V</option>
			  <option value="R">R</option>
			  <option value="I">I</option>
			  <option value="J">J</option>
			  <option value="H">H</option>
			  <option value="K">K</option>
			</select>
			<label class="checkbox">
		        <input type="checkbox" checked="checked" name="allow_usnob"> Include USNOB-1
		    </label>
			<input type="hidden" name="method" value="3">
			<br><input type="submit" class="btn btn-primary" value="Submit"  onclick="mark_disabled();"/>
			</form>
		</div><!--/span-->
	</div> <!--/row-->
	<div class="row-fluid">
		<hr>
		<div class="span12 pagination-centered">
			<a target="_blank" href="http://astro.berkeley.edu/">
			<img src="static/img/berkeley_seal_T.gif" width=100 height=100 alt="UC Berkeley"></a>
			<a target="_blank" href="http://cftd.info/">
			<img src="static/img/cftdi_bg.png" width=240 height=150 alt="CfTDI"></a>
			<a target="_blank" href="http://www.nsf.gov/">
			<img src="static/img/nsf_logo.gif" width=110 height=110 alt="NSF"></a>
		</div><!--/span-->
	</div><!--/row-->
</div><!--/container-->

<script type="text/javascript">
// quick function to make submit buttons look disabled after first submit
function mark_disabled() {
	var buttons = document.getElementsByClassName('btn');
	for (var i=0;i<buttons.length;i++) {
		buttons[i].className = buttons[i].className + " disabled";
	}
}
</script>

{% endblock %}
